/* setting the header  */
.header{
    height: max-content;
    min-height: 8rem;
    color: black !important;
    background-color: white !important;
    justify-content: center;
    
}

.main-container{
    background-color: gainsboro;
    height: max-content;
}

.section_1{
 
    margin: auto;
    margin-top: 4em;
    width: 80%;
    height: 100vh;
}

.section_1 h2{
    margin-top: 7em;
}